
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h1>Login</h1>

<div class="login-box">
    <h2>Login</h2>
    <form class="login-box" method="post" action="Supplier/VerifyLogin">
        <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
        </div>
        <Button type="submit">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
        </Button>
    </form>
</div>

